DATABASE_URL="postgresql://atlas:atlas@localhost:5432/atlas"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NODE_ENV="development"
NEXTAUTH_SECRET="change-me-to-a-long-random-secret-min-32-chars"
NEXTAUTH_URL="http://localhost:3000"
